* {justify-content: center; text-align: center; box-sizing: border-box;}

body {background-color: white; color: white; font-size: 18px; font-family: 'Segoe UI', sans-serif;}
header {color:#727272;margin: auto; width: 1875px;}

h1 {font-size: 100px; margin: 50px auto 20px;color: #a5c955;}
.number {color: #9fa0a3;}

.images {background-color: white;margin: 80px auto auto; width: 1875px;}
figure {background-color: rgba(242,244,244, 0.8); color: rgba(0,0,0, 0.8);}
.headpic{max-width: 300px; max-height: 500px; border-radius: 2.5px;}
figure {display: inline-block;}
.btn {width: 250px; display: inline-flex; flex-direction: row; }

.buttons {background-color:#1e1e1e;margin: auto; width: 1875px;}
.py {margin: 16px auto 14px;; width: 23px; background-color: #fed102; border-radius: 50%;}
.ytext {color:#f9e302;}
.x {justify-content: flex-end; width:360px;margin-right: 55px; height: 40px;}
.b {height: 40px; width: 360px; justify-content: flex-start;}
.px {margin-left: 16px;width: 23px; height: 24px;background-color: #0084eb; border-radius: 50%;}
.pb {margin-right: 16px;width: 24px; height: 24px;background-color: #da0c01; border-radius: 50%;}
.dx {padding-right: 18px;justify-content: center; color: #0fbcef;}
.db {text-align: left;justify-content: center;padding-left: 18px; color: #EF420F;}
.pa {margin: 0 auto 16px;width: 23px; background-color: #88ba04; border-radius: 50%;}
.atext {color: #b6ce31;}

.cb { justify-content: center; display: flex;}
.cb p {margin:0; }
.timeline {background-color: #2ca243; color: #F8F8F8; margin: auto; width: 1875px;}
.leftdate {width: 49.5%;text-align: right;}
.rightdate {width: 49.5%; text-align: left; position: relative; left: 50.5%;}

.hardware {background-color: #CCCCCC;margin: auto; color: #0e0e0e; width: 1875px;}
.spec {display: flex;justify-content: center;border-bottom: 2px solid #787878;}
.lefttext {display: flex; flex-direction: row;justify-content: flex-end;width: 45%; margin-right: 1.25%;}
.righttext{display: flex; flex-direction: row;justify-content: flex-start;width: 45%;margin-left: 1.25%;}

.specsales {display: flex;justify-content: center;}
.leftunit {display: flex; flex-direction: row;justify-content: flex-end;width: 45%; margin-right: 3%;}
.rightunit{display: flex; flex-direction: row;justify-content: flex-start;width: 45%;margin-left: 3%;}

.sales {background-color: #1e1e1e;margin: auto; margin-top: 16px; width: 1875px;}
#tribute-link {text-decoration:none;color:inherit;}


.games {background-color: #2ca243; color: #F8F8F8; margin: auto; margin-top: 16px; width: 1875px;}
.leftgame {display: flex; flex-direction: row;justify-content: flex-end;width: 45%; margin-right: 5%;}
.rightgame{display: flex; flex-direction: row;justify-content: flex-start;width: 45%;margin-left: 5%;}

footer {color: black; font-size: 12px;margin: auto; width: 1875px;}

@media (max-width:1900px){
  header{max-width: 90%;}
  div, footer {width: 100% ;}
  .spec {justify-content: center;}
  .lefttext, .righttext {width: 46%;}
  .righttext {text-align: left;}
}

@media (max-width:882px) {
  figure {width: 40%; margin:0;}
  img {width: 100%;}
}

@media (min-width: 1311px) and (max-width: 1739px) {
  header{max-width: 60% ;}
  img {width: 100%;}
  }